@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&family=Press+Start+2P&display=swap');

* {
  text-align: center;
}

body {
  background-image: url(pa-bgc/space-911785.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 100px 0px;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  visibility: visible;
  border-radius: 5px;
  margin: 3px;
}

.row {
  height: 40px;
  visibility: hidden;
  margin: 6px;
}

h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color:darkgoldenrod;
}

#pixel-board {
  margin-top: 50px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 50px;
  width: 100px;
  text-transform: uppercase;
}

input {
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
  width: 100px;
}

#pixel-board {
  border-radius: 50px;
}

button:hover {
  background-color:darkkhaki;
}